src/main/webapp/js/app/config/*.*
src/main/webapp/js/app/controller/*.*
src/main/webapp/js/app/directives/*.*
src/main/webapp/js/app/resources/*.*
src/main/webapp/js/app/services/*.*
src/main/webapp/js/vendors/**/*.*
src/main/webapp/bower_components
node_modules/
target/